html, body {
    height: 100vh;
    margin: 0;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    
}

h1 {
    color: white;
}

td {
    color: white;
    height: 200px;
    width: 100px;
    border: 5px solid white;
    text-align: center;
    justify-content: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: gray;
}

button {
    display: block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: large;
    margin: 10px;
    width: 150px;
    height: 50px;
    border: 5px solid white;
    color: white;
    background-color: gray;
}